<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>System Uzgadniania Terminów i Preferencji</display-name>

	<!-- CONTEXT-PARAM - - - - - - - - - - - - - - - - - - -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
             /WEB-INF/web-servlet.xml
             /WEB-INF/web-security.xml
             /WEB-INF/web-data.xml
        </param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.xml</param-value>
	</context-param>
	
	<!-- LISTENERS - - - - - - - - - - - - - - - - - - - - -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- DISPATCHER SERVLET  - - - - - - - - - - - - - - - -->
	<servlet>
		<servlet-name>web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>web</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
    <!-- FILTERS - - -  - - - - - - - - - - - - - - - - - - -->
	<filter>
		<filter-name>charsetFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>charsetFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	
    <filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern> <!-- *.html -->
	</filter-mapping>
         
	
	<!-- Recepta Spring: dzięki temu filtrowi nie powinno być więcej wyjątku związanego z "lazy loadingiem". Powyższy filtr istnieje zresztą też w wersji dla zwykłego Hibernate (jako klasa OpenSessionInViewFilter) -->
	<filter>
		<filter-name>JpaFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>JpaFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- WELCOME FILE LIST - - - - - - - - - - - - - - - - - -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
    <!-- PERSISTENCE UNIT - - - - - - - - - - - - - - - - - - -->
	<persistence-unit-ref>
		<persistence-unit-ref-name>persistenceUnit</persistence-unit-ref-name>
		<persistence-unit-name>sutipPU</persistence-unit-name>
	</persistence-unit-ref>
</web-app>

